In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Data CSVs\Cryptocurrency_df.csv")

Date - This timestamp is converted to NY EST Standard Time

Symbol - The symbol for which the timeseries data refers

Crypto - The name of crypto currency 

Open - This is the opening price of the time period

High - This is the highest price of the time period

Low - This is the lowest price of the time period

Close - This is the closing price of the time period

Volume Base Ccy - This is the volume in the base/converted ccy. Ie. For BTC/USDT, this is in USDT amount

Trade Count - This is the unique number of trades for the given time period

In [3]:
df

,Date,Symbol,Crypto,Open,High,Low,Close,Volume,Tradecount
0,31-07-2022,AAVE,Aave,95.30,109.60,93.70,97.60,4.696096e+07,132917
1,31-07-2022,ADA,Cardano,0.53,0.54,0.51,0.52,9.249111e+07,199465
2,31-07-2022,BTC,Bitcoin,23644.64,24194.82,23227.31,23293.32,3.028386e+09,4463721
3,31-07-2022,DOGE,Dogecoin,0.07,0.07,0.07,0.07,5.540642e+07,150464
4,31-07-2022,DOT,Polkadot,8.22,9.21,8.08,8.62,1.089193e+08,174959
...,...,...,...,...,...,...,...,...,...
9675,01-01-2021,UNI,Uniswap,5.15,5.27,4.61,4.74,1.441014e+08,379994
9676,01-01-2021,VET,VeChain,0.02,0.02,0.02,0.02,3.425524e+07,145623
9677,01-01-2021,XLM,Stellar Lumens,0.13,0.14,0.13,0.13,3.225630e+07,87371
9678,01-01-2021,XMR,Monero,156.20,169.09,130.23,135.81,5.271019e+07,145031
9679,01-01-2021,XRP,Ripple XRP,0.22,0.25,0.22,0.24,3.517304e+08,652631

In [4]:
df.describe()

,Open,High,Low,Close,Volume,Tradecount
count,9680.000000,9680.000000,9680.000000,9680.000000,9.680000e+03,9.680000e+03
mean,2743.366143,2824.163617,2649.420284,2742.897209,5.201298e+08,5.562002e+05
std,10450.209710,10742.577765,10110.193250,10448.950378,1.012490e+09,9.418715e+05
min,0.000000,0.000000,0.000000,0.000000,2.491923e+06,1.592900e+04
25%,0.270000,0.280000,0.250000,0.270000,5.386345e+07,1.276040e+05
50%,8.245000,8.850000,7.850000,8.260000,1.517617e+08,2.744835e+05
75%,113.665000,119.790000,106.072500,113.675000,4.411553e+08,6.550530e+05
max,67525.820000,69000.000000,66222.400000,67525.830000,2.037800e+10,2.796308e+07

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9680 entries, 0 to 9679
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        9680 non-null   object
 1   Symbol      9680 non-null   object
 2   Crypto      9680 non-null   object
 3   Open        9680 non-null   float64
 4   High        9680 non-null   float64
 5   Low         9680 non-null   float64
 6   Close       9680 non-null   float64
 7   Volume      9680 non-null   float64
 8   Tradecount  9680 non-null   int64
dtypes: float64(5), int64(1), object(3)
memory usage: 680.8+ KB